# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\KUBER LABS\2022_2023-introduction_to_distributed_technologies-k4113c-borisov_s_i\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Idea files
.idea
